[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"  # `standard` 옵션을 제거하여 uvloop 설치를 피합니다.
aiofiles = "*"
pydantic = "*"
python-jose = "*"
passlib = {extras = ["bcrypt"], version = "*"}
sqlmodel = "*"
pyserial = "*"
pystray = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
